<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" />
    <script src="main.js"></script>
</head>
<body>
<header class="header">
    <h1>Editing Tweet</h1>
</header>

<div>
    <%= render 'form', tweet: @tweet %>
</div>

<footer class="footer">
    <%= link_to 'Show', @tweet %> |
    <%= link_to 'Back', tweets_path %>
</footer>
    
</body>
</html>

